<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinUnsize"
        tools:targetApi="31">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <activity
            android:name=".presentation.activity.Cadastro"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.Cadastro2"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.Cadastro3"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.Splash3"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.Cadastro4"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.Splash2"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.Login"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.Splash1"
            android:exported="true"/>
        <activity
            android:name=".presentation.activity.CadastroPerfil"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.CadastroProdutos"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.DescricaoProdutos"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.ErroCadastro"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.MainActivityNoLogin"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.Produtos"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.Compras"
            android:exported="false" />
    </application>

</manifest>